/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

/*Override default styles*/
* {
    padding: 0;
    margin: 0;
}

/*Generic styles*/
h1,
h2 {
    font-family: "Milonga", serif;
    text-align: center;
}

p,
ul {
    font-family: "Gilda Display", serif;
    text-align: center;
}

a {
    color: #D3D3D3;
}

body {
    background-color: #ECFFDC;
}

.hidden {
    display: none;
}

/*Navigation Bar Styles*/

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36454F;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    right: 0;
}

.nav-list {
    float: left;
}

.nav-list a {
    display: block;
    text-align: center;
    padding: 15px 8px;
    text-decoration: none;
}

a:hover {
    background-color: #1B1212;
}

.active {
    background-color: #04AA6D;
}

/*Header Styles*/

.header-line {
    background-color: #36454F;
    text-align: center;
    margin-top: 34px;
}

.anne-main {
    display: inline;
    width: 100%;
    left: 0;
    right: 0;
}

.title {
    display: inline;
    color: #D3D3D3;
}

/*Body Styles*/
/*Images on main page*/
.main-pics {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #36454F;
}

/*Map Styles*/
#map {
    max-width: 100%;
}

/*Images on media page*/
.actress {
    max-width: 250px;
    display: block;
    max-height: 250px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #36454F;
}

/*Sign Up page styling*/
fieldset {
    margin: 15px;
}

/*Footer Styling*/
footer {
    padding: 0;
    margin: 0;
    background-color: #36454F;
    color: #D3D3D3;
    text-align: center;
    padding: 15px;
}