/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

/*Override default styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Generic styles*/
h1,
h2,
h3 {
    font-family: "Milonga", serif;
    text-align: center;
}

a {
    color: #D3D3D3;
}

html,
body {
    background-color: #ECFFDC;
    font-family: "Gilda Display", serif;
    text-align: center;
    height: 100%;
}

.container {
    min-height: 100%;
    position: relative;
}

.hidden {
    display: none;
}

.page-section {
    margin: 15px;
}

/*Navigation Bar Styles*/

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36454F;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    right: 0;
}

.nav-list {
    float: left;
}

.nav-list a {
    display: block;
    text-align: center;
    padding: 15px 8px;
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    background-color: #1B1212;
}

.active {
    background-color: #AFE1AF;
    color: #36454F;
}

/*Header Styles*/

.header-line {
    background-color: #36454F;
    text-align: center;
    margin-top: 45px;
}

.title {
    display: inline-block;
    color: #D3D3D3;
    font-size: 50px;
}

/*Body Styles*/

/*Index page*/

hr {
    width: 100%;
    height: 1px;
    margin: 10px 0 10px 0;
    background-color: #04AA6D;
}

.anne {
    width: 250px;
    margin: 15px;
    border-radius: 15px;
}

/*Sign Up form*/
fieldset {
    margin: 15px;
    padding: 15px;
    border: 2px groove #04AA6D;
}

button {
    background-color: #AFE1AF;
    border: 1px grove;
    color: #1B1212;
    padding: 8px 8px;
    font-size: 24px;
}

.radio {
    font-size: 24px;
}

/*Map Styles*/
#map {
    max-width: 100%;
}

/*About Page*/

#about-nav {
    margin-top: 10px;
    background-color: #36454F;
    text-decoration: none;
    color: #ECFFDC;
}

.pagenav {
    list-style: none;
    padding: 5px 0 5px 0;
    text-decoration: none;
}

.pagenav:hover {
    background-color: #1B1212;
    color: white;
}

/*Wives Page*/
.wives-picture {
    max-width: 250px;
    display: block;
    max-height: 250px;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    box-shadow: 5px 5px 10px #36454F;
}

#read-more {
    color: #1B1212
}

#read-more:hover {
    color: #04AA6D;
}

/*Children Page*/
.main-pics {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #36454F;
    margin: 15px 0 15px 0;
}

/*Images on media page*/
.actress-picture {
    max-width: 250px;
    display: block;
    max-height: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #36454F;
    margin: 10px auto 10px auto;
}

#six {
    clear: both;
}



/*Footer Styling*/

footer {
    background-color: #36454F;
    color: #D3D3D3;
    height: 50px;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

#footer-main {
    clear: both;
    position: absolute;
}

#footer-wives {
    clear: both;
}

#footer-children {
    clear: both;
}


/*Display for tablets*/
@media screen and (min-width: 758px) {

    /*Header*/
    .title {
        display: inline-block;
        font-size: 65px;
    }

    /* Styling for about page*/
    /*Remove hr line break on larger screens*/
    .about-hr {
        display: none;
    }

    /*Make index sections responcive*/
    .about-text {
        float: left;
        width: 50%;
        margin-top: 20px;
    }

    .forum {
        float: right;
        width: 50%;
    }

    /*About Page Navigation*/
    #about-nav {
        display: none;
    }

    #map-frame {
        clear: both;
        width: 420px;
        height: 320px;
        margin-top: 5px;
    }

    /*Wives page*/
    .wives-hr {
        display: none;
    }

    .wife {
        width: 40%;
        margin: 20px;
        height: 560px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;

    }

    /*Children Page*/
    .main-pics {
        max-width: 550px;
        border-radius: 20px;
        float: left;
    }

    /*Media Page*/
    .hr-actress {
        display: none;
    }

    .actress {
        width: 40%;
        margin: 20px;
        height: 300px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;

    }

    #six-video {
        clear: both;
        width: 420px;
        height: 320px;
        margin-top: 5px;
    }

}

/*Styling for desktop*/
@media screen and (min-width: 1280px) {

    /*header*/
    .title {
        font-size: 90px;
        padding-bottom: 10px;
    }

    /*Wives page*/
    .wives-hr {
        display: none;
    }

    .wife {
        width: 30%;
        margin: 20px;
        height: 560px;
    }

    .left {
        float: left;
    }

    .right {
        float: left;

    }

    .line {
        display: block;
    }

    /*Media page*/
    .actress-hr {
        display: none;
    }

    .actress {
        width: 30%;
        margin: 20px;
        height: 320px;
    }

    .left {
        float: left;
    }

    .right {
        float: left;

    }

    #line {
        display: block;
    }

}